# For now all options that had SUNXI in name, in /proc/config.gz,
# In the official image from Sipeed. Fine tune later
CONFIG_RISCV_SUNXI=y
CONFIG_ARCH_SUNXI=y
CONFIG_SUNXI_MBUS=y
CONFIG_SUNXI_RFKILL=y
CONFIG_SUNXI_ADDR_MGT=y
CONFIG_SUNXI_GMAC=y
CONFIG_SUNXI_EXT_PHY=y
CONFIG_KEYBOARD_SUNXI=y
CONFIG_SUNXI_GPADC=y
CONFIG_SERIAL_SUNXI=y
CONFIG_SERIAL_SUNXI_CONSOLE=y
CONFIG_SUNXI_G2D=y
CONFIG_SUNXI_G2D_MIXER=y
CONFIG_SUNXI_G2D_ROTATE=y
CONFIG_SUNXI_SYS_INFO=y
CONFIG_I2C_SUNXI=y
CONFIG_SPI_SUNXI=y
CONFIG_PINCTRL_SUNXI=y
CONFIG_SUNXI_THERMAL=y
CONFIG_SUNXI_WATCHDOG=y
CONFIG_SUNXI_REGULATOR_PWM=y
CONFIG_IR_RX_SUNXI=y
CONFIG_IR_TX_SUNXI=y
CONFIG_VIDEO_ENCODER_DECODER_SUNXI=y
CONFIG_DISP2_SUNXI=y
CONFIG_SUNXI_DISP2_FB_DISABLE_ROTATE=y
CONFIG_HDMI2_HDCP_SUNXI=y
CONFIG_HDMI2_CEC_SUNXI=y
CONFIG_DISP2_SUNXI_DEBUG=y
CONFIG_DISP2_SUNXI_SUPPORT_SMBL=y
CONFIG_DISP2_SUNXI_SUPPORT_ENAHNCE=y
CONFIG_SND_SUNXI_SOC=y
CONFIG_SND_SUNXI_SOC_CPUDAI=y
CONFIG_SND_SUNXI_SOC_SUN20IW1_CODEC=y
CONFIG_SND_SUNXI_SOC_SIMPLE_CARD=y
CONFIG_SND_SUNXI_SOC_DAUDIO=y
CONFIG_SND_SUNXI_SOC_SUNXI_HDMIAUDIO=y
CONFIG_SND_SUNXI_SOC_DMIC=y
CONFIG_SND_SUNXI_RPAF=y
CONFIG_SND_SUNXI_MISC_HIFI_DSP=y
CONFIG_SND_SUNXI_HIFI=y
CONFIG_USB_EHCI_HCD_SUNXI=y
CONFIG_USB_OHCI_HCD_SUNXI=y
CONFIG_USB_SUNXI_HCD=y
CONFIG_USB_SUNXI_HCI=y
CONFIG_USB_SUNXI_EHCI0=y
CONFIG_USB_SUNXI_EHCI1=y
CONFIG_USB_SUNXI_OHCI0=y
CONFIG_USB_SUNXI_OHCI1=y
CONFIG_USB_SUNXI_UDC0=y
CONFIG_USB_SUNXI_USB=y
CONFIG_USB_SUNXI_USB_MANAGER=y
CONFIG_USB_SUNXI_USB_DEBUG=y
CONFIG_USB_SUNXI_USB_ADB=y
CONFIG_MMC_SUNXI=y
CONFIG_MMC_SUNXI_V4P1X=y
CONFIG_MMC_SUNXI_V4P00X=y
CONFIG_MMC_SUNXI_V4P10X=y
CONFIG_MMC_SUNXI_V4P5X=y
CONFIG_MMC_SUNXI_V5P3X=y
CONFIG_LEDS_SUNXI=y
CONFIG_RTC_DRV_SUNXI=y
CONFIG_SUNXI_REBOOT_FLAG=y
CONFIG_SUNXI_RTC_BOOTCOUNT=y
CONFIG_SUNXI_RTC_POWEROFF_ALARM=y
CONFIG_SUNXI_CCU=y
CONFIG_SUNXI_RTC_CCU=y
CONFIG_SUNXI_IOMMU=y
CONFIG_SUNXI_IOMMU_DEBUG=y
CONFIG_RPMSG_SUNXI_AMP=y
CONFIG_SUNXI_SID=y
CONFIG_SUNXI_RISCV_SUSPEND=y
CONFIG_PWM_SUNXI_GROUP=y
CONFIG_RESET_SUNXI=y
CONFIG_NVMEM_SUNXI_SID=y
